<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>mdhoke@qualys.com </adminAddress>
  <jenkinsUrl>https://{{ hostname }}.{{ domain }}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
